<VirtualHost *:80>
    ServerName {{ spreg_apache_template_server_name }}
    ServerAlias {{ spreg_apache_template_server_alias }}
    ServerAdmin {{ spreg_apache_template_server_admin_mail }}

    DocumentRoot {{ spreg_apache_template_document_root }}

    BrowserMatch "MSIE [2-6]" \
                    nokeepalive ssl-unclean-shutdown \
                    downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
    # HSTS (mod_headers is required) (15768000 seconds = 6 months)
    Header always set Strict-Transport-Security "max-age=15768000"

    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

<VirtualHost *:443>
    ServerName {{ spreg_apache_template_server_name }}
    ServerAlias {{ spreg_apache_template_server_alias }}
    ServerAdmin {{ spreg_apache_template_server_admin_mail }}

    DocumentRoot {{ spreg_apache_template_document_root }}

    SSLEngine on
    SSLCertificateFile      {{ spreg_apache_template_ssl_certificate_file_path }}
    SSLCertificateKeyFile   {{ spreg_apache_template_ssl_certificate_key_path }}
    SSLCertificateChainFile {{ spreg_apache_template_ssl_certificate_chain_path }}
    SSLCACertificatePath    {{ spreg_apache_template_ssl_certificate_path }}

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
                    SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
                    SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
                    nokeepalive ssl-unclean-shutdown \
                    downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
    # HSTS (mod_headers is required) (15768000 seconds = 6 months)
    Header always set Strict-Transport-Security "max-age=15768000"

    <LocationMatch "^/spreg/auth.*">
        AuthType shibboleth
        Require valid-user
        ShibRequestSetting requireSession 1
    </LocationMatch>

    ProxyIOBufferSize    128000
    ProxyPass            /spreg    ajp://localhost:8009{{ spreg_app_server_context_path }}

</VirtualHost>
