###################################################################
##                                                               ##
##                     MANAGED BY ANSIBLE                        ##
##                                                               ##
##   Basic information for the membership validation settings    ##
## ------------------------------------------------------------- ##
## available options:                                            ##
## inputName.attrName=urn:perun:... - Name of the destination    ##
##  attribute                                                    ##
##                                                               ##
## inputName.allowedKeys=en,cs,... - List of allowed keys for    ##
## attributes with type MAP, coma separated list of keys         ##
##                                                               ##
## inputName.position=1 - Position in the list of inputs. Speci- ##
## fies where on the page the input will be shown.               ##
##                                                               ##
## inputName.regex=regex - Regex that the value will be compared ##
## with when checking if the value is correct.                   ##
##                                                               ##
## inputName.isDisplayed=true|false - If true, input will be vi- ##
## sible on the page, otherwise it will stay hidden.             ##
##                                                               ##
## inputName.isEditable=true|false - If true, input will be edi- ##
## table by user, otherwise it will be locked.                   ##
###################################################################

{% for attribute_id in spreg_template_attrs_access_control_inputs %}

{% set attribute =  spreg_template_all_attrs[attribute_id]  %}

{{ attribute_id }}.attrName={{ attribute.attrName }}
{{ attribute_id }}.position={{ loop.index }}
{% for lang, item in attribute.name.items() -%}
    {{ attribute_id }}.lang.name.{{ lang }}={{ item }}
{% endfor -%}

{% for lang, item in attribute.description.items() -%}
    {{ attribute_id }}.lang.desc.{{ lang }}={{ item }}
{% endfor -%}

{% if attribute.allowed_keys is defined -%}
  {{ attribute_id }}.allowedKeys={{ attribute.allowed_keys|join(',') }}
{% endif -%}

{% if attribute.allowed_values is defined -%}
  {{ attribute_id }}.allowedValues={{ attribute.allowed_values|join(',') }}
{% endif -%}

{% if attribute.regex is defined -%}
  {{ attribute_id }}.regex={{ attribute.regex }}
{% endif -%}

{% if attribute.displayed is defined -%}
  {{ attribute_id }}.isDisplayed={{ attribute.displayed }}
{% else -%}
  {{ attribute_id }}.isDisplayed=True
{% endif -%}

{% if attribute.editable is defined -%}
  {{ attribute_id }}.isEditable={{ attribute.editable }}
{% else -%}
  {{ attribute_id }}.isEditable=True
{% endif -%}

{% if attribute.required is defined -%}
  {{ attribute_id }}.isRequired={{ attribute.required }}
{% else -%}
  {{ attribute_id }}.isRequired=True
{% endif %}

{% endfor %}
