###################################################################################################
##                                                                                               ##
##                                  MANAGED BY ANSIBLE                                           ##
##                                                                                               ##
## Configuration template. Contains all of the available options for configuring the application ##
###################################################################################################

#############################
###      APPLICATION      ###
#############################

# coma separated list of IDs
appAdminIds={{ spreg_template_appconfig_admins|join(',') }}

# identifier of proxy
extSource.proxy.entityId={{ spreg_template_appconfig_entityid }}

# false if OIDC is not supported
oidc.isEnabled={{ spreg_template_appconfig_oidc_enabled }}

# only EN and CS are supported
availableLanguages={{ spreg_template_appconfig_languages|join(',') }}

# URL of host where application runs
host.url={{ spreg_template_appconfig_host_url }}

logout.url={{ spreg_template_appconfig_logout_url }}

# secret salt used for encryption of signature codes
secret={{ spreg_template_appconfig_secret }}

############################
###      ATTRIBUTES      ###
############################

# identifier of proxy the services is served for
attr.proxyIdentifier={{ spreg_template_appconfig_proxyidentifier_attrname }}

# identifier of proxy the services is served for - value of the attribute
attr.proxyIdentifier.value={{ spreg_template_appconfig_proxyidentifier_attrvalue }}

# identifier of proxy the services is registered in
attr.masterProxyIdentifier={{ spreg_template_appconfig_masterproxyidentifier_attrname }}

# identifier of proxy the services is registered in - value of the attribute
attr.masterProxyIdentifier.value={{ spreg_template_appconfig_masterproxyidentifier_attrvalue }}

# indicates environment of service
attr.isTestSp={{ spreg_template_appconfig_testsp_attrname }}

# attribute indicating if service is using SAML
attr.isSaml={{ spreg_template_appconfig_issamlsp_attrname }}

# attribute indicating if service is using OIDC
attr.isOidc={{ spreg_template_appconfig_isoidcsp_attrname }}

# indicates if service should be displayed on service list
attr.showOnServiceList={{ spreg_template_appconfig_showonservicelist_attrname }}

# attribute for storing administration contact
attr.administratorContact={{ spreg_template_appconfig_admincontact_attrname }}

# attribute which contains user email
attr.userEmail.name={{ spreg_template_appconfig_usermail_attrname }}

# attribute which contains entityId
attr.entityId={{ spreg_template_appconfig_entityid_attrname }}

# attribute which contains oidc clientId
attr.oidcClientId={{ spreg_template_appconfig_oidcclientid_attrname }}

# attribute which contains oidc ClientSecret
attr.oidcClientSecret={{ spreg_template_appconfig_oidcclientsecret_attrname }}

###########################
###      APPROVALS      ###
###########################
## confirmation period is created as sum of days and hours

# number of days how long the code for signature is valid
approval.confirmationPeriod.days={{ spreg_template_appconfig_confirmperiod_days }}

# number of hours how long the code for signature is valid
approval.confirmationPeriod.hours={{ spreg_template_appconfig_confirmperiod_hours }}

# false if user is not given an option to fill emails of persons who should sign the approval
approval.allowToSpecifyOwn={{ spreg_template_appconfig_approval_allowspecifymails }}

##########################
###      FRONTEND      ###
##########################

# title to be shown on top of the page
app.header.title={{ spreg_template_appconfig_header_title }}

# URL to logo shown on the top of the page
app.header.logo={{ spreg_template_appconfig_header_logo }}

# HTML block header
app.header.html={{ spreg_template_appconfig_header_html }}

# HTML block footer
app.footer.html={{ spreg_template_appconfig_footer_html}}

##########################
###      DATABASE      ###
##########################

jdbc.driver={{ spreg_template_appconfig_jdbc_driver }}
jdbc.url={{ spreg_template_appconfig_jdbc_url }}
jdbc.username={{ spreg_template_appconfig_jdbc_username }}
jdbc.password={{ spreg_template_appconfig_jdbc_password }}

###########################
###      PERUN RPC      ###
###########################

rpc.url={{ spreg_template_appconfig_perunrpc_url }}
rpc.user={{ spreg_template_appconfig_perunrpc_username }}
rpc.password={{ spreg_template_appconfig_perunrpc_password }}
