#####################################################################################
##                                                                                 ##
##                         MANAGED BY ANSIBLE                                      ##
##                                                                                 ##
## Messages configuration template. Contains all of the available options          ##
## for configuring the email notifications sent by the application.                ##
## notice: for newLine use &lt;br/&gt;                                             ##
## notice: for undefined use @null                                                 ##
## ------------------------------------------------------------------------------- ##
## Configuration for SPReg mail template                                           ##
## These tags are allowed:                                                         ##
## %REQUEST_ID% - will be replaced by ID of request                                ##
## %EN_SERVICE_NAME% - will be replaced by the name of service (EN)                ##
## %CS_SERVICE_NAME% - will be replaced by the name of service (CS)                ##
## %EN_SERVICE_DESCRIPTION% - will be replaced by the description of service (EN)  ##
## %CS_SERVICE_DESCRIPTION% - will be replaced by the description of service (CS)  ##
## %EN_NEW_STATUS% - will be replaced by new status of request (EN)                ##
## %CS_NEW_STATUS% - will be replaced by new status of request (CS)                ##
## %EN_ACTION% - will be replaced by action of request (EN)                        ##
## %CS_ACTION% - will be replaced by action of request (CS)                        ##
## %REQUEST_DETAIL_LINK% - will be replaced by the link to request detail          ##
## %APPROVAL_LINK% - will be replaced by link for request approval                 ##
## %INVITER_NAME% - will be replaced with the name of user sending the invitation  ##
## %INVITER_EMAIL% - will be replaced with the email of user sendin the invitation ##
#####################################################################################

# Host configuration
mail.host={{ spreg_template_mail_host }}
mail.port={{ spreg_template_mail_port }}
mail.protocol={{ spreg_template_mail_protocol }}

# Auth
mail.auth.username={{ spreg_template_mail_auth_username }}
mail.auth.password={{ spreg_template_mail_auth_password }}

# SMTP configuration
mail.smtp.auth={{ spreg_template_mail_smtp_auth }}
mail.smtp.starttls.enable={{ spreg_template_mail_smtp_starttls_enabled }}
mail.smtp.connectiontimeout={{ spreg_template_mail_smtp_connectiontimeout }}
mail.smtp.timeout={{ spreg_template_mail_smtp_timeout }}
mail.smtp.writetimeout={{ spreg_template_mail_smtp_writetimeout }}
mail.debug={{ spreg_template_mail_smtp_debug }}

# App administrator emails and default authorities
mail.app.admins.mails={{ spreg_template_mail_app_admin_emails|join(',') }}
mail.approval.default-authorities.mails={{ spreg_template_appconfig_approval_defaultauthorities|join(',') }}

# Common email config
mail.from={{ spreg_template_mail_from }}
mail.footer={{ spreg_template_mail_footer }}
mail.subject.prefix={{ spreg_template_mail_subject_prefix }}

# Message for user when request has been created
create.user.subject.en={{ spreg_template_mail_create_user_subject_en }}
create.user.subject.cs={{ spreg_template_mail_create_user_subject_cs }}
create.user.message.en={{ spreg_template_mail_create_user_message_en }}
create.user.message.cs={{ spreg_template_mail_create_user_message_cs }}

# Message for app admin when request has been created
create.admin.subject.en={{ spreg_template_mail_create_admin_subject_en }}
create.admin.subject.cs={{ spreg_template_mail_create_admin_subject_cs }}
create.admin.message.en={{ spreg_template_mail_create_admin_message_en }}
create.admin.message.cs={{ spreg_template_mail_create_admin_message_cs }}

# Message for user when request has been updated
update.user.subject.en={{ spreg_template_mail_update_user_subject_en }}
update.user.subject.cs={{ spreg_template_mail_update_user_subject_cs }}
update.user.message.en={{ spreg_template_mail_update_user_message_en }}
update.user.message.cs={{ spreg_template_mail_update_user_message_cs }}

# Message for app admin when request has been updated
update.admin.subject.en={{ spreg_template_mail_update_admin_subject_en }}
update.admin.subject.cs={{ spreg_template_mail_update_admin_subject_cs }}
update.admin.message.en={{ spreg_template_mail_update_admin_message_en }}
update.admin.message.cs={{ spreg_template_mail_update_admin_message_cs }}

# Message for user when status of request has changed
status_updated.user.subject.en={{ spreg_template_mail_status_updated_subject_en }}
status_updated.user.subject.cs={{ spreg_template_mail_status_updated_subject_cs }}
status_updated.user.message.en={{ spreg_template_mail_status_updated_message_en }}
status_updated.user.message.cs={{ spreg_template_mail_status_updated_message_cs }}

# Message for user when request for transfer has been signed by authority
signed.user.subject.en={{ spreg_template_mail_signed_user_subject_en }}
signed.user.subject.cs={{ spreg_template_mail_signed_user_subject_cs }}
signed.user.message.en={{ spreg_template_mail_signed_user_message_en }}
signed.user.message.cs={{ spreg_template_mail_signed_user_message_cs }}

# Message for app admin when request for transfer has been signed by authority
signed.admin.subject.en={{ spreg_template_mail_signed_admin_subject_en }}
signed.admin.subject.cs={{ spreg_template_mail_signed_admin_subject_en }}
signed.admin.message.en={{ spreg_template_mail_signed_admin_message_en }}
signed.admin.message.cs={{ spreg_template_mail_signed_admin_message_cs }}

# Message for authority when requesting signature for tansfer to production
production.authorities.subject.en={{ spreg_template_mail_production_authorities_subject_en }}
production.authorities.subject.cs={{ spreg_template_mail_production_authorities_subject_cs }}
production.authorities.message.en={{ spreg_template_mail_production_authorities_message_en }}
production.authorities.message.cs={{ spreg_template_mail_production_authorities_message_cs }}

# Message for user when requesting to become service manager
admins.add.subject.en={{ spreg_template_mail_admins_add_subject_en }}
admins.add.subject.cs={{ spreg_template_mail_admins_add_subject_cs }}
admins.add.message.en={{ spreg_template_mail_admins_add_message_en }}
admins.add.message.cs={{ spreg_template_mail_admins_add_message_cs }}

# Message for user when client_secret has changed
client.secret.changed.subject.en={{ spreg_template_mail_client_secret_changed_subject_en }}
client.secret.changed.subject.cs={{ spreg_template_mail_client_secret_changed_subject_cs }}
client.secret.changed.message.en={{ spreg_template_mail_client_secret_changed_message_en }}
client.secret.changed.message.cs={{ spreg_template_mail_client_secret_changed_message_cs }}
